= simple_form_for(@whois_contact) do |f|
  = f.error_notification

  .form-inputs
    = f.association :domain
    = f.input :first_name
    = f.input :last_name
    = f.input :street
    = f.input :number
    = f.input :postal_code
    = f.input :city
    = f.association :country
    = f.input :phone_number
    = f.input :email_address
    = f.input :company_name
    = f.association :company_type

  .form-actions
    = f.button :submit
